extends ../layouts/common.pug
block styles
    link(rel="stylesheet" type="text/css" href="/styles/product.css")
block content
    h1 LIST FOOD FOR TODAY OF RESTAURANT
    .row
        each product in products
            .col-3.product(data-id= product.id)
                img(src= product.image, width='250', height='200')
                .info
                    h5= product.name
                    h6 price #{product.price} 
                    .button
                        a.btn.btn-primary.add-cart-button Order Food
                        a.btn.btn-danger.view-detail-button(href='/products/'+ product.id) View Detail
    nav(aria-label='Page navigation example')
        ul.pagination
            //standing_page = 1 not have previous button
            if(standing_page!=1) 
                li.page-item
                    a.page-link(href='/products/list?page='+ (standing_page-1) ) Previous
            // page == standing_page add class active to button
            - var pre_page = standing_page - 3 
            if(pre_page < 1) 
               - pre_page = 1
            - var next_page = standing_page + 3
            if(next_page > pages.length) 
                - next_page = pages.length
            if(standing_page > 4 && pre_page >2 )
                li.page-item
                    a.page-link(href='/products/list?page='+ 1 ) #{1} 
                li.page-item
                    h5 ...
            if(standing_page > 4 && pre_page == 2 ) 
                li.page-item
                    a.page-link(href='/products/list?page='+ 1 ) #{1} 
            - for(var i = pre_page  ;i<=next_page; ++i)
                if(i == standing_page) 
                    li.page-item.active
                        a.page-link(href='/products/list?page='+ i ) #{i}
                else
                    li.page-item
                        a.page-link(href='/products/list?page='+ i ) #{i}
            if(standing_page < pages.length -4  )
                li.page-item
                    h5 ... 
                li.page-item
                    a.page-link(href='/products/list?page='+ pages.length ) #{pages.length}   
            if(standing_page == pages.length -4)
                li.page-item
                    a.page-link(href='/products/list?page='+ pages.length ) #{pages.length}  
            // standing_page = pages.length(the last page) not have next button
            if(standing_page!=pages.length) 
                li.page-item
                    a.page-link(href='/products/list?page='+ (standing_page+1) ) Next
block script
    script(src='/js/products.js')